body {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    background-color: #f2f2f2;
}

#question {
    padding: 5px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    animation: moveElement 1s linear;
}

#question:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    scale: 1.05;
}

#container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    padding: 5px;
    list-style-type: none;
}

ul li {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s ease-out;
    animation: moveElement 1s linear;
}

ul li:hover {
    color: #ffffff;
    background-color: #000000;
}

#theEnd,
#recommendations {
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-size: 1.875rem;
    transition: 0.3s all ease;
}

#theEnd:hover,
#recommendations:hover {
    color: #000000;
    background-color: #ffffff;
}

#js {
    display: block;
    margin: 0 auto;
    transition: 0.3s all ease;
    border-radius: 10px;
}

#js:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}