* {
    font-weight: 600;
    font-family: 'JetBrains Mono';
}

body {
    background-color: #f2f2f2;
}

h1 {
    transition: 0.3s ease-in-out;
}

h1:hover {
    color: #ffffff;
    background-color: #000000;
}

#question {
    padding: 5px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

#question:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
    scale: 1.05;
    color: #ffffff;
    background-color: #000000;
}

#container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    padding: 5px;
    list-style-type: none;
}

ul li {
    background-color: #ffffff;
    color: #000000;
    transition: 0.2s ease-out;
    animation: moveElement 1s linear;
}

ul li:hover {
    color: #ffffff;
    background-color: #000000;
}

#theEnd,
#recommendations {
    font-weight: 600;
    color: #000000;
    text-align: center;
    font-size: 1.875rem;
    transition: 0.3s all ease;
}

#theEnd:hover,
#recommendations:hover {
    color: #ffffff;
    background-color: #000000;
}

#js {
    display: block;
    margin: 0 auto;
    transition: 0.3s all ease;
    border-radius: 10px;
}

#js:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: black;
    position: relative;
    left: 5px;
}

a:hover {
    color: #ffffff;
    background-color: #000000;
}

form {
    display: flex;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff7f7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: 500ms all ease;
}

textarea {
    padding: 10px;
}

form label {
    font-size: 2rem;
}

#selfMadeQuestion {
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    max-width: 90%;
    width: 18rem;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

input {
    max-width: 28rem;
    width: 18rem;
    margin-bottom: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline-color: rgb(104, 251, 104);
    transition: 1s all ease-in-out;
}

fieldset {
    text-align: center;
    border: none;
    transition: 1s all ease-in-out;
}