#question p {
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    transition: 0.5s ease-in-out;
}

h1:hover {
    font-size: 42px;
}

#question {
    padding: 5px;
    margin: 0 auto;
    background-color: rgb(216, 220, 220);
    border-radius: 10px;
    width: fit-content;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: 0.5s;
    margin-bottom: 20px;
}

#question:hover {
    margin-bottom: 40px;
    transform: translateY(-5px);
    cursor: pointer;
    scale: 1.05;
}

#container {
    background-color: rgb(186, 186, 186);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

ul {
    padding: 5px;
}

ul li {
    list-style: none;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 10px;
    margin-bottom: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    height: 80px;
    transition: 0.2s ease-in-out;
}

ul li:hover {
    margin-bottom: 50px;
    cursor: pointer;
    transform: translateY(-5px);
    background-color: #ffffff;
    scale: 1.01;
    border: 1px solid black;
}